body {
	background-color: #ffffff;
	color: #15141a;
}

button {
	color: #15141a;
	background-color: #eeeeee;
	border-color: #eeeeee;
}

button:hover {
	background-color: #ceced0;
	border-color: #ceced0;
}

button:focus-visible {
	outline-color: #0060df;
}

input[type="text"] {
	background-color: #ffffff;
	border-color: #9e9ea0;
	color: #15141a;
}

input[type="text"]:focus {
	border-color: #0060df;
}

/*todo: do styling acoridng to both themes (dark/light)*/
input[type="text"]:invalid {
	border-color: red;
}

hr {
	background-color: #d7d7db;
}

.txt-secondary {
	color: #79797c;
}


/*dark mode overrides*/
@media (prefers-color-scheme: dark) {
	body {
		background-color: #23222b;
		color: #fbfbfe;
	}

	button {
		color: #fbfbfe;
		background-color: #484854;
		border-color: #484854;
	}

	button:hover {
		background-color: #5d5c6e;
		border-color: #5d5c6e;
	}

	button:focus-visible {
		outline-color: #00ddff;
	}

	input[type="text"] {
		background-color: #2b2a33;
		border-color: #7c7b82;
		color: #fbfbfe;
	}

	input[type="text"]:focus {
		border-color: #00ddff;
	}

	hr {
		background-color: #4e4d54;
	}

	.txt-secondary {
		color: #89888f;
	}
}

