body {
	margin: 0.4em;
	font-size: 15px;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
}

table {
	margin: 0.4em 0em;
	width: 100%;
}

td {
	height: 2.8em;
}

.cell-width-main {
	width: 40%;
}

.cell-width-secondary {
	width: 20%;
}

input, button {
	width: 100%;
	font-size: 15px;
}

input[type="text"] {
	margin: 0.2em;
	padding: 0.4em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

input[type="text"]:focus {
	border-width: 2px;
	outline: none;
}

/*todo: do styling acoridng to both themes (dark/light)*/
input[type="text"]:invalid {
	border-width: 2px;
	outline: none;
}

button {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
}

button:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
	outline-style: solid;
}

.footer-buttons {
	float: right;
}

.footer button {
	width: auto;
}

/*todo: add animation to admonition update*/

.admonition-info, .admonition-error {
	display: block;
	margin: 0.2em;
	padding: 0.4em 0.8em;
}


