body {
	background-color: #23222b;
	color: #fbfbfe;
}

button {
	color: #fbfbfe;
	background-color: #484854;
	border-color: #484854;
}

input {
	background-color: #2b2a33;
	border-color: #8f8f9d;
	color: #fbfbfe;
}

input::placeholder {
/*	color: #8f8f9d;*/
	color: #fbfbfe;
}

hr {
	background-color: #4e4d54;
}

.txt-secondary {
	color: #89888f;
}