body {
	background-color: #ffffff;
	color: #15141a;
}

hr {
	background-color: #d7d7db;
}

.btn-primary {
	color: #15141a;
	stroke: #15141a;
	background-color: #eeeeee;
	border-color: #eeeeee;
}

.btn-secondary {
	color: #15141a;
	stroke: #15141a;
	background-color: #ffffff;
	border-color: #ffffff;
}

.btn:disabled {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #79797c;
	stroke: #79797c;
}

.btn-hover:hover {
	background-color: #ceced0;
	border-color: #ceced0;
}

.btn-hover:focus-visible {
	outline-color: #0060df;
}

.input-text {
	background-color: #ffffff;
	border-color: #9e9ea0;
	color: #15141a;
}

.input-text:focus {
	border-color: #0060df;
}

.input-text:invalid {
	border-color: #c50042;
}

.txt-secondary {
	color: #79797c;
}

.highlight-hover:hover {
	background-color: #eeeeee;
}

.highlight-selected {
	background-color: #ceced0;
}

.admonition-error {
	background-color: #c50042;
	color: #ffffff;
	border-color: #c50042;
}

.admonition-info {
	background-color: #0060df;
	color: #ffffff;
	border-color: #0060df;
}


/*dark mode overrides*/
@media (prefers-color-scheme: dark) {
	body {
		background-color: #23222b;
		color: #fbfbfe;
	}

	hr {
		background-color: #4e4d54;
	}

	.btn-primary {
		color: #fbfbfe;
		stroke: #fbfbfe;
		background-color: #484854;
		border-color: #484854;
	}

	.btn-secondary {
		color: #fbfbfe;
		color: #fbfbfe;
		background-color: #23222b;
		border-color: #23222b;
	}

	.btn-hover:hover {
		background-color: #5d5c6e;
		border-color: #5d5c6e;
	}

	.btn-hover:focus-visible {
		outline-color: #00ddff;
	}

	.btn:disabled {
		background-color: #2b2a33;
		border-color: #2b2a33;
		color: #89888f;
		stroke: #89888f;
	}

	.input-text {
		background-color: #2b2a33;
		border-color: #7c7b82;
		color: #fbfbfe;
	}

	.input-text:focus {
		border-color: #00ddff;
	}

	.input-text:invalid {
		border-color: #ff9aa2;
	}

	.txt-secondary {
		color: #89888f;
	}

	.highlight-hover:hover {
		background-color: #484854;
	}

	.highlight-selected {
		background-color: #5d5c6e;
	}

	.admonition-error {
		background-color: #ff9aa2;
		color: #23222b;
		border-color: #ff9aa2;
	}

	.admonition-info {
		background-color: #00ddff;
		color: #23222b;
		border-color: #00ddff;
	}
}

