body, input, button {
	font-size: 15px;
}

body {
	margin: 0em;
}

div, ul {
	margin: 0.3em 0em;
}

h3, span, label {
	margin: 0.3em;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
}

.width-30 {
	width: 30%;
}

.width-60 {
	width: 60%;
}

.width-80 {
	width: 80%;
}

.width-100 {
	width: 100%;
}

.margin-03 {
	margin: 0.3em;
}

.no-wrap {
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

.no-decoration {
	list-style-type: none;
	padding: 0em;
}

.block-element {
	display: block;
}

.flex-element {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.input-text {
	margin: 0.3em;
	padding: 0.4em;
	border-width: 2px;
	border-style: solid;
	border-radius: 0.3em;
}

.input-text:focus {
	border-width: 2px;
	outline: none;
}

.input-text:invalid {
	border-width: 2px;
	outline: none;
}

.input-file {
	display: none;
}

.btn {
	margin: 0.3em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
}

.btn-small {
	margin: 0em;
	padding: 0em, 0.2em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
}

.btn-hover:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
	outline-style: solid;
}

#admonition-content {
	margin: 0.3em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.admonition-visible {
  display: block;
}

.admonition-hidden {
	display: none;
}

.highlight-selected, .highlight-hover {
	border-radius: 0.3em;
}

.icon {
  width: 15px;
  height: 15px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

