body {
	margin: 0.2em;
	font-size: 15px;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
}

table {
	width: 100%;
}

span {
	margin: 0.2em;
}

td {
	margin: 0;
}

div {
	margin: 0.2em 0em;
}

.width-5 {
	width: 5%;
}

.width-20 {
	width: 20%;
}

.width-30 {
	width: 30%;
}

.width-35 {
	width: 35%;
}

.width-60 {
	width: 60%;
}

.width-80 {
	width: 80%;
}

.width-100 {
	width: 100%;
}

input, button {
	font-size: 15px;
}

td > input {
	width: 100%;
}

input[type="text"], input[type="url"] {
	margin: 0.2em;
	padding: 0.4em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

input[type="text"]:focus, input[type="url"]:focus {
	border-width: 2px;
	outline: none;
}

input[type="text"]:invalid, input[type="url"]:invalid {
	border-width: 2px;
	outline: none;
}

input[type="file"] {
	display: none;
}

.btn {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
}

/*label {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-radius: 0.3em;
	text-align: center;
}*/

.btn:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
	outline-style: solid;
}

.footer-buttons {
	float: right;
}

.table-footer {
	width: 100%;
}

#admonition-content {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.admonition-visible {
  display: block;
}

.admonition-hidden {
	display: none;
}

