body, input, button {
	font-size: 15px;
}

h3, span, label, ul{
	margin: 0.2em;
}

div {
	margin: 0.2em 0em;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
}

.width-20 {
	width: 20%;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.width-60 {
	width: 60%;
}

.width-80 {
	width: 80%;
}

.width-90 {
	width: 90%;
}

.width-100 {
	width: 100%;
}

.from-right {
	float: right;
}

.margin-02 {
	margin: 0.2em;
}

.margin-04 {
	margin: 0.4em;
}

.no-wrap {
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

.no-decoration {
	text-decoration: none;
	padding: 0em;
}

.block-element {
	display: block;
}

.flex-element {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.input-text {
	margin: 0.2em;
	padding: 0.4em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.input-text:focus {
	border-width: 2px;
	outline: none;
}

.input-text:invalid {
	border-width: 2px;
	outline: none;
}

.input-file {
	display: none;
}

.btn {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
}

.btn:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
	outline-style: solid;
}

#admonition-content {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.admonition-visible {
  display: block;
}

.admonition-hidden {
	display: none;
}

.hover-show > div > button {
	display: none;
}

/*todo: try to use class name rather than dom names*/
.hover-show:hover > div > button {
	display: initial;
}

