body {
	font-size: 15px;
}

h3 {
	margin: 0.2em;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
}

table {
	width: 100%;
}

span, label, small{
	margin: 0.2em;
}

input, button {
	font-size: 15px;
}

td {
	margin: 0;
}

div {
	margin: 0.2em 0em;
}

.width-5 {
	width: 5%;
}

.width-20 {
	width: 20%;
}

.width-30 {
	width: 30%;
}

.width-35 {
	width: 35%;
}

.width-60 {
	width: 60%;
}

.width-80 {
	width: 80%;
}

.width-100 {
	width: 100%;
}

.block-element {
	display: block;
}

.flex-element {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-grow-1 {
	flex-grow: 1;
}

.flex-grow-2 {
	flex-grow: 2;
}

.input-text {
	margin: 0.2em;
	padding: 0.4em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.input-text:focus {
	border-width: 2px;
	outline: none;
}

.input-text:invalid {
	border-width: 2px;
	outline: none;
}

.input-file {
	display: none;
}

.btn {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
	text-align: center;
	text-decoration: none;
}

.btn:focus-visible {
	outline-width: 2px;
	outline-offset: 2px;
	outline-style: solid;
}

#admonition-content {
	margin: 0.2em;
	padding: 0.4em 0.8em;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3em;
}

.admonition-visible {
  display: block;
}

.admonition-hidden {
	display: none;
}

